table {
    border: 1px solid black;
    border-collapse: collapse;
    background-image: url(image/chungus.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

td {
    border: 1px solid white;
    width: 75px;
    height: 74px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box {
    border: 1px solid white;
    position: absolute;
    width: 77px;
    height: 77px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box-1 {
    background-image: url(image/boxes1.jpg);
}

.box-2 {
    background-image: url(image/boxes2.jpg);
}

.box-3 {
    background-image:url(image/boxes3.jpg);
}

.box-4 {
    background-image: url(image/boxes4.jpg);
}

.box-5 {
    background-image:url(image/boxes5.jpg);
}

.box-6 {
    background-image: url(image/boxes6.jpg);
}

.z {
    background-size: 0px;
}

.box-999 {
    background-color: black;
}

#buttons {
    display: grid;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 396px;
    left: 288px;
    font-weight: bolder;
    font-size: 30px ;
    color: gold;
    
}

div#buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    cursor: pointer;

 

}

div#btnU {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

}

div#btnD {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 13;
}

div#btnL {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

div#btnR {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
            