table{
    border: 1px solid black;
    border-collapse: collapse;  
    background-image: url('images/tolstyy-krolik-chungus-shablon.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

td{
    border: 1px solid white;
    width: 90px;
    height: 70px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    
}
td.box-01{
    background-image: url(images/box1.png);

}

td.box-02{
    background-image: url(images/box2.png);

}

td.box-02z{
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in;
    
    }

